{% extends "base.html" %}

{% block content %}

{{super()}}

<div class="container content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        



        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>


            <!-- .................................EMAIL field log in............................. -->

            <div class="form-group">
                {{ form.email.label(class="form-control-label")}}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors%}
                    <span> {{ error }} </span>
                    {% endfor%}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg")}}
                {% endif %}
            </div>

            <!-- .................................PASWORD FIELD............................. -->

            <div class="form-group">
                {{ form.password.label(class="form-control-label")}}

                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors%}
                    <span> {{ error }} </span>
                    {% endfor%}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg")}}
                {% endif %}
            </div>

        </fieldset>

        <!-- ...........................Remember a user once they are logged in....................... -->

        <div class="form-check">
            {{ form.remember(class="form-check-input")}}
            {{ form.remember(class="form-check-label")}}
        </div>

        <!-- .........................SUBMIT BUTTON............................. -->

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>

    </form>

    <!-- ...................Forgot password.Reset it......................... -->

    <small class="text-muted">
        <a href="#" class="ml-2">Forgot Password</a>
    </small>

    <!-- .............................IF No account,redirect to sign up................... -->

    <div class="border-top">
        <small class="text-muted">
            Need an account? <a href="{{ url_for('auth.signup')}}" class="ml-2">Register</a>
        </small>
    </div>
</div>


{% endblock %}