{% extends "base.html" %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}

{% block content %}

<style>
    .one{
font-family: 'Mansalva'
    }
    .card {
        background-color: aquamarine;
    }
</style>

<div class="container" style="margin-top: 25px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="one">Quote of the day</h2>
            <p class="one">{{quotes.quote}}</p>
            <p class="one">{{quotes.author}}</p>
        </div>
    </div>

    <section>
        <div class="row wow fadeIn card-columns">


            {% for blogpost in blogs %}
            <div class="col-md-2"></div>
            <div class="m-4 col-md-8 card">
                <div class="card-header">
                    <h2><a class="text-dark list-group animated fadeInRight article-title"
                            href="{{ url_for('main.blog', post_id=blogpost.id) }}">{{ blogpost.title }}</a></h2>
                </div>
                <div class="card-body ">
                    <ul class=" card-text list-group list-group-flush text-center">
                        <p class="text-white animated fadeInRight text-center">{{ blogpost.content }}</p>
                    </ul>
                    <div class="card-footer">
                        <div class="col-md-4">
                            <a href="{{url_for('main.new_comment',post_id=blogpost.id)}}"><button class="btn btn-sm">
                                    <i class="fa fa-comments" style="font-size: 32px; color: black;">Comments</i>
                                </button></a>
                        </div>
                        <div class="col-md-4">
                            <a class="mr-2 text-white" href="#"></a>
                            <small class="text-white ">Date
                                Posted:{{ blogpost.date_posted.strftime('%Y-%m-%d') }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>





{% endblock %}