{% extends "base.html" %}


{% block content %}


  <div class="container-fluid">
      

    <div class="col-md-8 card">
      <h2 class="card-header article-title">{{ blog.title }}</h2>
      <p class="card-body article-content">{{ blog.content }}</p>

      <small class="text-muted">{{ blog.date_posted.strftime('%Y-%m-%d') }}</small>
     
      <div>
        <a class="btn btn-secondary btn-sm m-1 mb-1" href="{{ url_for('main.update_blog', blog_id=blog.id) }}">Update</a>
        <a class="btn btn-danger btn-secondary btn-sm m-1 mb-1" href="{{ url_for('main.delete_blog', blog_id=blog.id) }}">Delete</a>
      </div>
    </div>

  </div>


{% endblock content %}